APPLICATION_ID="{applicationId}"
CLIENT_ID="{clientId}"
CLIENT_SECRET="{clientSecret}"
GUILD_ID="{guildId}"
MONGO_TOKEN="mongodb{+srv/emptyString}://{username}:{password}@{name}.rbypq.mongodb.net/{nameSpace}?retryWrites=true&w=majority"
PUBLIC_KEY="{publicKey}"
TOKEN="{botToken}"